.container {
    max-width: 750px;
}
.operations .well{
text-align: center;
cursor: pointer;
font-weight: bold;
font-size: 1em;
background-color: #dbdbdb;
}
.numbers .well {
    background-color: #f4f4f4;
}
.result {
text-align: right;
font-weight: bold;
font-size: 2em;
word-break: break-all;
}
.input .well {
 min-height: 80px;   
}
.advanced-btn {
line-height: 1.1;
float: right;
}
.save-btn .btn{
    margin-bottom: 20px;
}
.top{
    margin-top: 25px;
}