<div class="col-xs-3">
    <div class="well digit" ng-click="clearPrevious()">&larr;</div>
</div>
<div class="col-xs-3">
    <div class="asas well digit" ng-click="clearMemory()">CE</div>
</div>
<div class="col-xs-3">
    <div class="well digit" ng-click="clearAll()">C</div>
</div>
<div class="col-xs-3">
    <div class="well digit" ng-click="unaryOperationPressed('sqrt')">&#8730;</div>
</div>
<div class="numbers">
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(7)">7</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(8)">8</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(9)">9</div>
    </div>
</div>
<div class="col-xs-3">
    <div class="well digit" ng-click="binaryOperationPressed('+')">+</div>
</div>
<div class="numbers">
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(4)">4</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(5)">5</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(6)">6</div>
    </div>
</div>
<div class="col-xs-3">
    <div class="well digit" ng-click="binaryOperationPressed('-')">-</div>
</div>
<div class="numbers">
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(1)">1</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(2)">2</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(3)">3</div>
    </div>
</div>
<div class="col-xs-3">
    <div class="well digit" ng-click="binaryOperationPressed('*')">&times;</div>
</div>
<div class="numbers">
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed(0)">0</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="digitPressed('.')">.</div>
    </div>
    <div class="col-xs-3">
        <div class="well digit" ng-click="calculate()">=</div>
    </div>
</div>
<div class="col-xs-3">
    <div class="well digit" ng-click="binaryOperationPressed('/')">&divide;</div>
</div>